

.container {
    max-width: 500px;
    padding: 0;
    margin-top: 110px;
    background: none;
    outline: none;
    border: 0;
}
body{
    padding: 0;
    background: url("https://s1.1zoom.ru/b5050/512/_508607_2048x1152.jpg");
    background-size: cover;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background:#F8F9FA;
}

#footer{
    background:#F8F9FA;
    text-align: center;
    color: black;

}

.rev-block .myform{
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 1.4s;
}

.myform{
    outline: none;
    border: 0;
}
.rev-block:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #00f0b5;
    animation: rev-block 1.5s cubic-bezier(0.19,1,0.22,1) forwards;
    animation-delay: 0.5s;
}



@keyframes rev-block {
    0%{
        left: 0;
        width: 0;
    }
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0;
    }
}

@keyframes appear-text {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
