.container {
    max-width: 500px;
    padding: 0;
    margin-top: 110px;

}
/*body{
    padding: 0;
    background-size: cover;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background:#F8F9FA;
}

#footer{
    background:#F8F9FA;
    text-align: center;
    color: black;

}*/

.info{
    display: flex;
    justify-content: space-between;
}