<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/allstaff.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
<link rel="stylesheet" type="text/css" href="/css/tables.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<head>
    <meta charset="UTF-8">
    <title th:text="#{title.admin.look.all.users}"></title>
    <style>
        input{
            border: none;
            outline: none;
            font-weight: bold;
            text-align: left;
        }
        th{
            margin: 0;
            padding: 0;
            text-align: left;
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">HOME</a>
        <div class="navigationBar">
            <form class="logout" action="/logout">
                <button id="logout"  class="btn btn-outline-warning" type="submit" th:text="#{logout.button}"></button>
            </form>
            <div class="dropdown">
                <button th:text="#{languages}" class="lang btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button type="button" class="dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                    <button type="button" class="dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
                </div>
            </div>
        </div>

    </nav>

</header>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="#{admin.allusers.username}"></th>
            <th scope="col" th:text="#{admin.allusers.first.name}"></th>
            <th scope="col" th:text="#{admin.allusers.last.name}"></th>
            <th scope="col" th:text="#{admin.allusers.role}"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
       <!-- <tr th:each="users : ${allUsers}">-->
        <tr th:each="users : ${page.content}">
            <form name="form">

                <input type="hidden" name="id" th:value="${users.id}" >
                <th scope="row"><label><input  th:value="${users.userName}" readonly></label></th>
                <!----------------------------------------->
                <th scope="row" th:if="${type} == 'hidden'"><label><input th:value="${users.firstName}"  readonly></label></th>
                <th scope="row" th:if="${type} == 'hidden'"><label><input th:value="${users.lastName}"  readonly></label></th>
                <!----------------------------------------->
                <th scope="row" th:if="${type} == 'NotHidden'"><label><input th:value="${users.firstNameUkr}"  readonly></label></th>
                <th scope="row" th:if="${type} == 'NotHidden'"><label><input th:value="${users.lastNameUkr}"  readonly></label></th>
                <!----------------------------------------->

                <th scope="row"><label><input th:value="${users.role}"  readonly></label></th>


                <th scope="row"><button id="update" onclick="form.method='post';" th:text="#{admin.update}"></button></th>
                <th scope="row"><button id="delete" onclick="form.action='/admin/allusers/delete';" th:text="#{admin.delete}"></button></th>
            </form>
        </tr>
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!--<div class="pagination-div" >-->
        <li class="page-item">
            <span th:if="${page.hasPrevious()}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

                <a class="pag page-link" th:href="@{${urlBuilder.replaceQueryParam('page',__${page.number-1}__).toUriString()}}">Previous</a>
            </span>
        </li>
        <li class="page-item">
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected pag page-link">[[${i}+1]]</span>
                <span th:unless="${page.number == i}"  th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

                 <a class="pag page-link" th:href="@{${urlBuilder.replaceQueryParam('page',__${i}__).toUriString()}}">[[${i}+1]]</a>
                </span>
            </th:block>
        </li>
        <li class="page-item">
            <span th:if="${page.hasNext()}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                <a class="pag page-link" id="page" th:href="@{${urlBuilder.replaceQueryParam('page',__${page.number+1}__).toUriString()}}">Next</a>
            </span>
        </li>
    </ul>
    <!--</div>-->
</nav>



<footer class="text-white bg-dark">
    <div id="footer" class="card-footer text-muted text-white bg-dark">© 2020 Copyright:All rights reserved</div>
</footer>

<script type="text/javascript" src="/js/language.js" ></script>
<script type="text/javascript" src="/js/allUsers.js"></script>
<script type="text/javascript" src="/js/pagination.js"></script>
<script type="text/javascript" src="/js/allUsers.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--<script type="text/javascript" src="/js/main.js"></script>-->
<script>
    var alertt = [[${upd}]]
    if(alertt === 1){
        swal({
            icon:"success",
            text:"successfully sig in"
        });
    }


       /* $("#delete").bind("click",function () {

            //url: '/admin/allusers',

            /!*alert({
                icon: "success",
                text: "successfully delete"
            });*!/
            alert("dvsdscc");

        });
*/





</script>
</body>
</html>