<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/allstaff.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
    <link rel="stylesheet" type="text/css" href="/css/tables.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input{
            border: none;
            outline: none;
            font-weight: bold;
            text-align: left;
            background: none;
        }
        th{
            margin: 0;
            padding: 0;
            text-align: left;
        }

    </style>
</head>

<body >
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">Navbar</a>
        <form>
            <button id="en" th:text="#{en}"></button>
            <button id="ukr" th:text="#{ua}"></button>
        </form>
    </nav>

</header>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="#{admin.all.ticket.first.name}"></th>
            <th scope="col" th:text="#{admin.all.ticket.last.name}"></th>
            <th scope="col" th:text="#{admin.all.tickets.station.from}"></th>
            <th scope="col" th:text="#{admin.all.tickets.station.to}"></th>
            <th scope="col" th:text="#{admin.all.tickets.train.name}"></th>
            <th scope="col" th:text="#{admin.all.tickets.price}"></th>
            <th scope="col" th:text="#{admin.all.tickets.date.departure}"></th>
            <th scope="col" th:text="#{admin.all.tickets.date.arrival}"></th>
            <th scope="col" th:text="#{admin.all.tickets.time.departure}"></th>
            <th scope="col" th:text="#{admin.all.tickets.time.arrival}"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="ticket : ${allTickets}">
            <form name="form">

            <!-------------------EN---------------------->
                <th scope="row" th:if="${type} == 'hidden'"><label><input th:value="${ticket.firstName}" readonly></label></th>
                <th scope="row" th:if="${type} == 'hidden'"><label><input th:value="${ticket.lastName}" readonly></label></th>
            <!------------------EN----------------------->
                <th scope="row" th:if="${type} == 'hidden'" th:each="des : ${ticket.destinations}">
                    <label><input th:value="${des.departure}" readonly></label>
                </th>
                <th scope="row" th:if="${type} == 'hidden'"  th:each="des : ${ticket.destinations}">
                    <label><input th:value="${des.arrival}" readonly></label>
                </th>
            <!----------------------------------------->

            <!-----------------UKR------------------------>
                <th scope="row" th:if="${type} == 'NotHidden'"><label><input th:value="${ticket.firstNameUkr}" readonly></label></th>
                <th scope="row" th:if="${type} == 'NotHidden'"><label><input th:value="${ticket.lastNameUkr}" readonly></label></th>
            <!-----------------UKR------------------------>
                <th scope="row" th:if="${type} == 'NotHidden'" th:each="des : ${ticket.destinations}">
                    <label><input th:value="${des.departureUA}" readonly></label>
                </th>
                <th scope="row" th:if="${type} == 'NotHidden'" th:each="des : ${ticket.destinations}">
                    <label><input th:value="${des.arrivalUA}" readonly></label>
                </th>
            <!----------------------------------------->

                <th scope="row" th:each="train : ${ticket.trains}">
                    <label><input th:value="${train.trainName}" readonly></label>
                </th>
                <th scope="row"  th:each="property : ${ticket.destinationProperties}">
                    <label><input name="price" th:value="${property.price}" readonly></label>
                </th>
                <th scope="row" th:each="property : ${ticket.destinationProperties}">
                    <label><input name="date" th:value="${property.dateDeparture}" readonly></label>
                </th>
                <th scope="row" th:each="property : ${ticket.destinationProperties}">
                    <label><input name="dateArrival" th:value="${property.dateArrival}" readonly></label>
                </th>
                <th scope="row" th:each="property : ${ticket.destinationProperties}">
                    <label><input name="timeDeparture" th:value="${property.timeDeparture}" readonly>
                    </label></th>
                <th scope="row" th:each="property : ${ticket.destinationProperties}">
                    <label><input name="timeArrival" th:value="${property.timeArrival}" readonly></label>
                </th>
            </form>
        </tr>
    </tbody>
</table>

<footer class="text-white bg-dark">
    <div id="footer" class="card-footer text-muted text-white bg-dark">© 2020 Copyright:All rights reserved</div>
</footer>

<script type="text/javascript" src="/js/language.js" ></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>