<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/css/allstaff.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/tables.css">
<link rel="stylesheet" type="text/css" href="/css/allApp.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<title th:text="#{admin}"></title>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input{
            border: none;
            outline: none;
            font-weight: bold;
            text-align: left;
        }
        th{
            margin: 0;
            padding: 0;
            text-align: left;
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">Navbar</a>
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Languages
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="lang dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                <button type="button" class="lang dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
            </div>
        </div>
    </nav>

</header>


<table  class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{admin.all.ticket.first.name}"></th>
        <th scope="col" th:text="#{admin.all.ticket.last.name}"></th>
        <th scope="col" th:text="#{admin.all.tickets.station.from}"></th>
        <th scope="col" th:text="#{admin.all.tickets.station.to}"></th>
        <th scope="col" th:text="#{admin.all.tickets.date.departure}"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="applicationtable : ${allApplications}">


                <!-------------------EN---------------------->
        <th scope="row" th:if="${type} == 'hidden'"><label><input name="firstName" th:value="${applicationtable.firstName}" readonly></label></th>
        <th scope="row" th:if="${type} == 'hidden'"><label><input name="lastName" th:value="${applicationtable.lastName}" readonly></label></th>
        <!------------------EN----------------------->
        <th scope="row" th:if="${type} == 'hidden'"><label><input name="stationFrom" th:value="${applicationtable.stationFrom}" readonly></label></th>
        <th scope="row" th:if="${type} == 'hidden'"><label><input name="stationTo" th:value="${applicationtable.stationTo}" readonly></label></th>
        <!----------------------------------------->

        <!-----------------UKR------------------------>
        <th scope="row" th:if="${type} == 'NotHidden'"><label><input name="firstNameUkr" th:value="${applicationtable.firstNameUkr}" readonly></label></th>
        <th scope="row" th:if="${type} == 'NotHidden'"><label><input name="lastNameUkr" th:value="${applicationtable.lastNameUkr}" readonly></label></th>
        <!-----------------UKR------------------------>
        <th scope="row" th:if="${type} == 'NotHidden'"><label><input name="stationFromUkr" th:value="${applicationtable.stationFromUkr}" readonly></label></th>
        <th scope="row" th:if="${type} == 'NotHidden'"><label><input name="stationToUkr" th:value="${applicationtable.stationToUkr}" readonly></label></th>
        <!----------------------------------------->

        <th scope="row"><label><input name="date" th:value="${applicationtable.date}" readonly></label></th>

    </tr>
    </tbody>
</table>

<footer class="text-white bg-dark">
    <div id="footer" class="card-footer text-muted text-white bg-dark">© 2020 Copyright:All rights reserved</div>
</footer>

<script type="text/javascript" src="/js/language.js" ></script>
</body>
</html>