<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.guest.page}"></title>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel=”stylesheet”>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/guest.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body style="padding: 0">
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">RAILWAY</a>
        <div class="dropdown">
            <button th:text="#{languages}" class="lang btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="langMenu dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                <button type="button" class="langMenu dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
            </div>
        </div>
    </nav>

</header>



<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" th:text="#{login.button}" href="/login" ></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:text="#{sign.in.button}" href="/registration"></a>
    </li>
</ul>

<h1 class="rev-block">
    <span th:text="#{guest.hello1}"></span>
</h1>
<h1 class="rev-block" id="onemore">
    <span th:text="#{guest.hello2}"></span>
</h1>

<footer class="text-white bg-dark">
    <div id="footer" th:text="#{footer}" class="card-footer text-muted text-white bg-dark"></div>
</footer>

</body>
<script type="text/javascript" src="/js/language.js" ></script>
<script>

</script>
</html>