<!DOCTYPE html>
<html lang="en"    xmlns:th="http://www.thymeleaf.org">
<!--xmlns:th="http://www.thymeleaf.org"-->
<!--xmlns:th="http://www.w3.org/1999/xhtml"-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{title.login}"></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/login">RAILWAY</a>
        <div class="dropdown">
            <button th:text="#{languages}" class="lang btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                <button type="button" class="dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
            </div>
        </div>

    </nav>

</header>


<div class="container card text-center ">
    <div class="card-header bg-warning">
        <h2  id="lan" th:text="#{login.initial}"></h2>
    </div>

    <div class="card-body" >
        <div th:if="${logout}">
            <div class="alert alert-info" role="alert" th:text="#{logout.message}"></div>
            <h5 modelattribute="userNameLogOut" th:text="${userNameLogOut}"></h5>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert" th:text="#{login.error}"></div>
        </div>

        <form  method="post">

            <label>
                <p style="color: white" th:text="#{admin.allusers.username}"></p>
                <input type="text"  name="username" class="form-control" placeholder="Username">
            </label>
            <label>
                <p style="color: white" th:text="#{password}"></p>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button}"></button>

        </form>
        <br>
        <form action="/registration"  >
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{sign.in.button}"></button>
        </form>
    </div>
    <div th:text="#{login.footer}" class="card-footer text-muted bg-warning"></div>






</div>


<footer class="text-white bg-dark">
    <div id="footer" th:text="#{footer}" class="card-footer text-muted text-white bg-dark"></div>
</footer>


<script type="text/javascript" src="/js/login.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:inline="javascript">
    var alertt = [[${alert}]]
    if(alertt === 1){
        swal({
            icon:"success",
            text:[[#{success.sign.in}]]
        });
    }
</script>
</body>

</html>
