<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <title th:text="#{title.registration}"></title>
    <link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
    <link rel="stylesheet" type="text/css" href="/css/updateUser.css">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/login">RAILWAY</a>
        <div class="dropdown">
            <button th:text="#{languages}" class="lang btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                <button type="button" class="dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
            </div>
        </div>
    </nav>

</header>
<div class="reg container card text-center">
    <div th:text="#{sign.in.button}" class="card-header"></div>
    <div class="row">
        <div class="col-sm ">
            <form  th:object="${user}"  method="POST">
                <div class="card-body">

                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('userName')} ? 'input-icon right' : ''">
                            <span th:text="#{admin.allusers.username}" class="input-group-text"></span>
                            <input type="text" name="userName" th:field="*{userName}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:placeholder="#{registration.user.name}" required>
                    </div>
                    <div th:if="${#fields.hasErrors('userName')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.userName.error}"></i>
                    </div>

                    <div class="input-group mb-3 form-group">
                        <span th:text="#{admin.allusers.first.name}" class="input-group-text"></span>
                        <input th:value="${user.firstName}" type="text" name="firstName" th:field="*{firstName}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:placeholder="#{registration.first.name}" required>
                    </div>
                    <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.firstName.error}"></i>
                    </div>

                    <div class="input-group mb-3 form-group">
                        <span th:text="#{admin.allusers.first.name.native}" class="input-group-text"></span>
                        <input type="text" name="firstNameUkr" th:field="*{firstNameUkr}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"   th:placeholder="#{registration.first.name.ukr}" required>
                    </div>
                    <div th:if="${#fields.hasErrors('firstNameUkr')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.firstNameUkr.error}"></i>
                    </div>


                    <div class="input-group mb-3 form-group">
                        <span th:text="#{admin.allusers.last.name}" class="input-group-text"></span>
                        <input type="text" name="lastName" th:field="*{lastName}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:placeholder="#{registration.last.name}" required>
                    </div>
                    <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.lastName.error}"></i>
                    </div>

                    <div class="input-group mb-3 form-group">
                        <span th:text="#{admin.allusers.last.name.native}" class="input-group-text"></span>
                        <input type="text" name="lastNameUkr" th:field="*{lastNameUkr}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:placeholder="#{registration.last.name.ukr}" required>
                    </div>
                    <div th:if="${#fields.hasErrors('lastNameUkr')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.lastNameUkr.error}"></i>
                    </div>

                    <div class="input-group mb-3 form-group">
                        <span th:text="#{card}" class="input-group-text"></span>
                        <input type="number" name="card" th:field="*{card}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:placeholder="#{registration.card.number}" required>
                    </div>
                    <div th:if="${#fields.hasErrors('card')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.cardNumber.error}"></i>
                    </div>


                    <div class="input-group mb-3 form-group">
                        <span th:text="#{password}" class="input-group-text"></span>
                        <input type="password" name="password"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"   th:placeholder="#{registration.password}" required>
                    </div>


                    <button type="submit" id="button" class="btn btn-primary" th:text="#{submit.sig.in.button}"></button>
                </div>
            </form>
        </div>
    </div>
</div>


    <footer class="text-white bg-dark">
        <div th:text="#{footer}" id="footer" class="card-footer text-muted text-white bg-dark"></div>
    </footer>

<script type="text/javascript" src="/js/language.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:inline="javascript">
    var alertt = [[${alert}]]
    if (alertt === 0){
        swal({
            icon:"error",
            text:[[#{user.exist}]]
        });
    }
    if (alertt === 1){
        swal({
            icon:"error",
            text:[[#{user.regex}]]
        });
    }
</script>
</body>
</html>