<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/ticket.css">
    <link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/users">HOME</a>
        <div class="navigationBar">
            <div class="info">
                <i style="color: white">Hi,</i>
                <i style="color: white" th:text="${user.username}"></i>!
                <br>
                <p style="color: white">Your money </p>
                <i style="color: white" th:text="${user.money}"></i>
                <i style="color: white">&#x20AC;</i>
            </div>
            <form class="logout"     action="/logout">
                <button class="btn btn-outline-warning" type="submit" th:text="#{logout.button}"></button>
            </form>
            <div class="dropdown">
                <button class="lang btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Languages
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button type="button" class="dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                    <button type="button" class="dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
                </div>
            </div>
        </div>
    </nav>

</header>
<form method="post">
    <div class="container card text-center">
        <div class="card-header">
           Ticket
        </div>


        <div class="card-body" th:each="ticket : ${ticket}" >

            <input hidden name="idProperty" th:value="${ticket.idProperty}">

            <!-----------------EN--------------------->
            <div class="tic" th:if="${type} == 'hidden'" th:each="user : ${user}" >
                <span>First name</span>
                <i th:text="${user.firstName}"></i>
            </div>

            <div class="tic" th:if="${type} == 'hidden'" th:each="user : ${user}" >
                <span>First name</span>
                <i th:text="${user.lastName}"></i>
            </div>

            <div class="tic" th:if="${type} == 'hidden'" th:each="des : ${ticket.destinations}">
                <span>Destination</span>
                <i th:text="${des.departure}"></i>
            </div>

            <div class="tic" th:if="${type} == 'hidden'" th:each="des : ${ticket.destinations}">
                <span>Arrival</span>
                <i th:text="${des.arrival}"></i>
            </div>

            <div class="tic" th:if="${type} == 'hidden'" th:each="des : ${ticket.trains}">
                <span>Train</span>
                <i th:text="${des.trainName}"></i>
            </div>


            <!-----------------EN--------------------->

            <!-----------------UKR--------------------->

            <div class="tic" th:if="${type} == 'NotHidden'" th:each="user : ${user}" >
                <span>First name</span>
                <i th:text="${user.firstNameUkr}"></i>
            </div>

            <div class="tic" th:if="${type} == 'NotHidden'" th:each="user : ${user}" >
                <span>First name</span>
                <i th:text="${user.lastNameUkr}"></i>
            </div>

            <div class="tic" th:if="${type} == 'NotHidden'" th:each="des : ${ticket.destinations}">
                <span>Destination</span>
                <i th:text="${des.departureUA}"></i>
            </div>

            <div class="tic" th:if="${type} == 'NotHidden'" th:each="des : ${ticket.destinations}">
                <span>Arrival</span>
                <i th:text="${des.arrivalUA}"></i>
            </div>

            <div class="tic" th:if="${type} == 'NotHidden'" th:each="des : ${ticket.trains}">
                <span>Train</span>
                <i th:text="${des.trainNameUkr}"></i>
            </div>

            <!-----------------UKR--------------------->

            <div class="tic">
                <span>Date departure/</span>
                <span>Time departure</span>
                <i th:text="${ticket.dateDeparture}"></i>
                <i th:text="${ticket.timeDeparture}"></i>
            </div>
            <div class="tic">
                <span>Date arrival/</span>
                <span>Time arrival</span>
                <i th:text="${ticket.dateArrival}"></i>
                <i th:text="${ticket.timeArrival}"></i>
            </div>

            <div class="tic">
                <span>dep</span>
                <i th:text="${ticket.price}"></i>
            </div>

        </div>


        <div class="card-footer text-muted">
             <button id="sub" type="submit">Submit</button>
        </div>

    </div>
</form>




<footer class="text-white bg-dark">
    <div id="footer" class="card-footer text-muted text-white bg-dark">© 2020 Copyright:All rights reserved</div>
</footer>

<script type="text/javascript" src="/js/language.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var alertt = [[${alert}]]
    if (alertt === false){
        swal({
            icon:"error",
            text:"problem"
        });
    }
    if (alertt === true){
        swal({
            icon:"success",
            text:"success"
        });
    }
</script>

</body>
</html>