<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/ticket.css">
    <link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/users">Navbar</a>

            <form>
                <button id="en" th:text="#{en}"></button>
                <button id="ukr" th:text="#{ua}"></button>
            </form>
            <!--<form action="/users">
                <button type="submit">Home</button>
            </form>-->

    </nav>

</header>
<form method="post">
    <div class="container card text-center">
        <div class="card-header">
           Ticket
        </div>



        <div th:each="ticket : ${ticket}" >

            <input hidden name="idProperty" th:value="${ticket.idProperty}">
                <span>Time dep</span>
                <i th:text="${ticket.timeDeparture}"></i>
          <div th:each="des : ${ticket.destinations}">
              <span>dep</span>
              <i th:text="${des.departure}"></i>
          </div>

        </div>

        <div th:each="user : ${user}" >

                <span>First name</span>
                <i th:text="${user.firstName}"></i>

        </div>

        <!--<div class="card-body">

    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
            <div th:each="user : ${user}" th:if="${type} == 'hidden'">
                <div class="info">
                    <span>First name</span>
                    <i th:text="${user.firstName}"></i>
                </div>
                <div class="info">
                    <span>Last name</span>
                    <i th:text="${user.lastName}"></i>
                </div>
            </div>

            <div class="info" th:each="ticket : ${ticket}"  th:if="${type} == 'hidden'">

                <div class="info">
                    <span>Station From</span>
                    <i th:text="${ticket.stationFrom}"></i>
                </div>
                <div class="info">
                    <span>Station to</span>
                    <i th:text="${ticket.stationTo}"></i>
                </div>
            </div>
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
            <div class="info" th:each="user : ${user}" th:if="${type} == 'NotHidden'">
                <div class="info" >
                    <span>First name</span>
                    <i th:text="${user.firstNameUkr}"></i>
                </div>
                <div class="info" >
                    <span>Last name</span>
                    <i th:text="${user.lastNameUkr}"></i>
                </div>
            </div>

            <div class="info" th:each="ticket : ${ticket}"  th:if="${type} == 'NotHidden'">

                <div class="info" >
                    <span>Station From</span>
                    <i th:text="${ticket.stationFromUkr}"></i>
                </div>
                <div class="info" >
                    <span>Station to</span>
                    <i th:text="${ticket.stationToUkr}"></i>
                </div>
            </div>
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
                <div class="info">
                    <span>Date/Time departure</span>
                    <i class="time" th:text="${ticket.date}"></i>
                    <i class="time">/</i>
                    <i class="time" th:text="${ticket.timeDeparture}"></i>
                </div>

                <div class="info">
                    <span>Date arrival</span>
                    <i th:text="${ticket.dateArrival}"></i>
                    /
                    <i th:text="${ticket.timeArrival}"></i>
                </div>

                <div class="info">
                    <span>Train name</span>
                    <i th:text="${ticket.trainName}"></i>
                </div>

                <div class="info">
                    <span>Price</span>
                    <i th:text="${ticket.price}"></i>
                </div>




        </div>-->


        <button id="sub" type="submit">Submit</button>

        <div class="card-footer text-muted">
        </div>

        </div>
    </form>




<footer class="text-white bg-dark">
    <div id="footer" class="card-footer text-muted text-white bg-dark">© 2020 Copyright:All rights reserved</div>
</footer>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
   /* $("#sub").bind("click",function () {
        swal({
            icon:"success",
            text:"ticket!"
        });
    })*/

</script>

</body>
</html>