<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
    <link rel="stylesheet" type="text/css" href="/css/updateUser.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">HOME</a>
        <div class="navigationBar">
            <form action="/logout">
                <button type="submit" th:text="#{logout.button}"></button>
            </form>
            <div class="dropdown">
                <button class="lang btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Languages
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button type="button" class="dropdown-item btn btn-outline-dark" id="en" th:text="#{en}"></button>
                    <button type="button" class="dropdown-item btn btn-outline-dark" id="ukr" th:text="#{ua}"></button>
                </div>
            </div>
        </div>

    </nav>
</header>

<form  th:object="${user}" method="post">
    <div class="container card text-center">
        <div class="card-header">
            <h5>Edit user</h5>
        </div>
        <div class="row">
            <div class="col-sm ">
                <div class="card-body">
                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('userName')} ? 'input-icon right' : ''">
                        <div class="input-group-prepend">
                           <span class="input-group-text">User Name</span>
                            <input required type="text" name="userName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:field="*{userName}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('userName')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.userName.error}"></i>
                    </div>

                    <!-------------------------------->
                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'input-icon right' : ''">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First Name</span>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="firstName" th:field="*{firstName}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.firstName.error}"></i>
                    </div>

                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'input-icon right' : ''">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Last Name</span>
                            <input type="text"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="lastName" th:field="*{lastName}" >
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.lastName.error}"></i>
                    </div>

                    <!-------------------------------->

                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('firstNameUkr')} ? 'input-icon right' : ''">
                        <div class="input-group-prepend">
                            <span class="input-group-text">FirstUkr Name</span>
                            <input type="text"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="firstNameUkr" th:field="*{firstNameUkr}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('firstNameUkr')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.firstNameUkr.error}"></i>
                    </div>


                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('lastNameUkr')} ? 'input-icon right' : ''">
                        <div class="input-group-prepend">
                            <span class="input-group-text">LastUkr Name</span>
                            <input type="text"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="lastNameUkr" th:field="*{lastNameUkr}" >
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('lastNameUkr')}" class="alert alert-danger" role="alert">
                        <i th:text="#{regex.lastNameUkr.error}"></i>
                    </div>
                    <!-------------------------------->

                    <div class="input-group mb-3 form-group" th:classappend="${#fields.hasErrors('role')} ? 'input-icon right' : ''">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Role</label>
                        </div>
                        <select name="role" class="custom-select" id="inputGroupSelect01">
                            <option name="role"   value="ROLE_USER" >USER</option>
                            <option name="role" value="ROLE_ADMIN" >ADMIN</option>
                            <!--TODO selected name-->
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-outline-primary waves-effect"  th:text="#{submit.sig.in.button}"></button>

        </div>
    </div>

</form>
<footer class="text-white bg-dark">
    <div id="footer" class="card-footer text-muted text-white bg-dark">© 2020 Copyright:All rights reserved</div>
</footer>
<script type="text/javascript" src="/js/language.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var alertt = [[${upd}]]
    if (alertt === 0){
        swal({
            icon:"error",
            text:"exist"
        });
    }
    if (alertt === 1){
        swal({
            icon:"error",
            text:"regex"
        });
    }
</script>
</body>
</html>